body {
	text-align: center;
	margin: 0;
	font-family: Verdana,sans-serif;
	background-color: #f9f7f7;
}
.container {
	width: 100%;
}
header {
  width: 100%;
}
header p {
	font-style: italic;
}
h1 {
	color: #2196f3;
}
nav {
	background-color: #2196f3;
}
nav button {
	width: 25%;
	padding: 15px 5px;
	color: #fff;
}
nav button:hover {
	background-color: #00ccf7;
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
ul {
	list-style: none;
	padding: 0;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #2E2F31;
	color: #acacac;
	font-weight: bold;
}
.form-cliente, .list-clientes {
	display: none;
}
.form-cliente {
	background-color: white;
  width: 90%;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #2196f3	;
}
.form-cliente form {
	width: 50%;
  margin: auto;
}
.form-cliente input, .form-cliente select, .form-cliente button {
	width: 100%;
	padding: 5px 0px;
	margin-bottom: 10px;
	border-width: 0px;
	border-bottom: 1px solid #acacac;
} 
::placeholder {
	color: #acacac;
}
.form-cliente select option {
	color: black;
}
.form-cliente select option:first-child{
  color: #acacac;
}
.form-cliente select:invalid {
	color: #acacac;
}
.form-cliente .confirmClientButton {
	border-width: 0px;
	background-color: #2196f3;
	color: #fff;
	padding: 10px 0;
}
.confirmClientButton:hover {
	background-color: #00ccf7;
}